<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Avalyarin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>br.com.avalyarin.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>avalyarin</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
    <false/>
    <key>UISceneConfigurations</key>
    <dict>
      <key>UIWindowSceneSessionRoleApplication</key>
      <array>
        <dict>
            <key>UISceneConfigurationName</key>
            <string>Default Configuration</string>
            <key>UISceneDelegateClassName</key>
            <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
            <key>UISceneStoryboardFile</key>
            <string>Main</string>
        </dict>
      </array>
    </dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>O Avalyarin precisa de acesso à câmera para você tirar fotos dos pratos e escanear QR Codes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O Avalyarin precisa de acesso à sua galeria para você selecionar fotos de pratos e do seu perfil.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>O Avalyarin precisa de permissão para salvar fotos na sua galeria.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O Avalyarin usa sua localização para mostrar os bares e restaurantes mais próximos de você no mapa.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>O Avalyarin usa sua localização para sugerir estabelecimentos próximos mesmo em segundo plano.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>O Avalyarin precisa de acesso ao microfone para que você possa gravar e enviar áudios nos chats e grupos.</string>
	<key>NSContactsUsageDescription</key>
	<string>O Avalyarin sincroniza seus contatos para ajudar você a encontrar amigos que já estão na plataforma.</string>
	<key>NSMotionUsageDescription</key>
	<string>O Avalyarin utiliza o reconhecimento de atividade para facilitar seu check-in automático ao chegar em um estabelecimento.</string>
</dict>
</plist>
